//color scheme variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #282828;
$black: #000;

//theme colors

$green: #3bd5c3;
$cyan: #004749;

$primary: $green;
$secondary: $cyan;
$shadow: $gray-900;

// font size

//import Bootstrap
@use "../node_modules/bootstrap/scss/bootstrap.scss";
